.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.scroll {
  position: fixed;
  left: 10px;
  top: 10px;
  color: #fff;
  font-family: "GmarketSans";
  font-size: 20px;
  z-index: 10000;
}
.line {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px #fff;
}
.line span {
  -webkit-text-fill-color: #fff;
}
.line2 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px #319eea;
}
.line2 span {
  -webkit-text-fill-color: #319eea;
}

/* box */
.box {
  display: flex;
  justify-content: space-between;
}
.box.jcc {
  justify-content: center;
}
.box.aie {
  align-items: end;
}
.box.ais {
  align-items: start;
}
.box.aic {
  align-items: center;
}
.box .width10 {
  width: 10%;
}
.box .width20 {
  width: 20%;
}
.box .width30 {
  width: 30%;
}
.box .width40 {
  width: 40%;
}
.box .width50 {
  width: 50%;
}
.box .width60 {
  width: 60%;
}
.box .width70 {
  width: 70%;
}
.box .width80 {
  width: 80%;
}
.box .width90 {
  width: 90%;
}
.box .text {
  font-family: "GmarketSans";
  color: #fff;
  font-size: 1.5vw;
  font-weight: 100;
  padding: 20px;
  word-break: keep-all;
}
.box .text em {
  background: #fff;
  color: #319eea;
}
.box2 {
  width: 100%;
  margin: 1vw;
  text-align: center;
}
.box2.bs {
  box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.box2.bs:hover {
  box-shadow: 0px 4px 40px -4px rgba(0, 0, 0, 0.6);
  transform: scale(1.2);
}
.box2 .text2 {
  font-family: "Poppins";
  color: #fff;
  font-size: 3vw;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;
}

/**/
/**/
/**/
/**/
.border {
  border: 1px solid #000;
}
/**/
/**/
/**/
/**/

/* css main */
.unit:nth-child(5n + 1) {
  --i: 0;
}
.unit:nth-child(n + 1) {
  --j: 0;
}
.unit:nth-child(5n + 2) {
  --i: 1;
}
.unit:nth-child(n + 6) {
  --j: 1;
}
.unit:nth-child(5n + 3) {
  --i: 2;
}
.unit:nth-child(n + 11) {
  --j: 2;
}
.unit:nth-child(5n + 4) {
  --i: 3;
}
.unit:nth-child(n + 16) {
  --j: 3;
}
.unit:nth-child(5n + 5) {
  --i: 4;
}
.unit:nth-child(n + 21) {
  --j: 4;
}
.side:nth-child(1) {
  --idx: 0;
}
.side:nth-child(2) {
  --idx: 1;
}
.side:nth-child(3) {
  --idx: 2;
}
.front::before,
.front::after,
.half::before,
.half::after,
.cube::after {
  transform: rotate3d(var(--vi), var(--vj), 0, calc(var(--s) * 0.5turn))
    translatez(var(--z, 1em));
}
.front::before,
.front::after,
.later .side,
.later::before,
.later::after,
.later,
.half::before,
.half::after,
.cube::after {
  --int: Max(0, calc(var(--sum) - 0.5));
  --mod: calc(var(--sum) - var(--int));
  --abs: Max(calc(0.5 - var(--mod)), calc(var(--mod) - 0.5));
  --k: calc(1 - 2 * var(--abs));
  color: hsl(200, var(--sat, 75%), calc(63% - var(--k, -0.1) * 50%));
  background: currentcolor;
}
@property --d {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}
@property --p {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}
@property --int {
  syntax: "<integer>";
  initial-value: 0;
  inherits: true;
}
@property --f {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}
.a3d,
.a3d div {
  display: grid;
}
body:before,
body:after {
  --o: calc(var(--s) * -100%);
  position: absolute;
  z-index: -1;
  top: calc(var(--s) * 100%);
  left: calc(var(--s) * 100%);
  padding: 0 0.5em;
  transform: translate(var(--o), var(--o));
  opacity: 0.05;
  color: #fff;
  font: italic 900 4vmin/2 petit formal script;
  white-space: nowrap;
  text-align: center;
}
div {
  --vi: 0;
  --vj: calc(1 - var(--vi));
  transform-style: preserve-3d;
}
div,
::before,
::after {
  grid-area: 1/1;
}
.side,
::before,
::after {
  --not-s: calc(1 - var(--s));
  --sgn-s: calc(2 * var(--s) - 1);
  backface-visibility: hidden;
}
.side:nth-child(1),
::before {
  --s: 0;
}
.side:nth-child(3),
::after {
  --s: 1;
}
.a3d {
  grid-gap: 9em;
  grid-template: 6em / repeat(var(--n), 6em);
  place-self: center;
  transform: rotatex(-35deg) rotatey(45deg);
}
.unit {
  --f: 0.5;
  --m: calc(0.5 * (var(--n) - 1));
  grid-area: 1 / calc(var(--i) + 1);
  transform: translatez(calc((var(--j) - var(--m)) * 15em))
    rotatey(calc(var(--p, 0) * 1turn));
}
.anim {
  animation: p var(--tr)
      cubic-bezier(
        var(--cx),
        calc(-1 * var(--cx)),
        calc(1 - var(--cx)),
        calc(1 + var(--cx))
      )
      var(--dt) infinite alternate,
    osc var(--to) ease-in-out infinite alternate;
}
@keyframes p {
  0%,
  25% {
    --p: 0;
  }

  75%,
  100% {
    --p: 0.5;
  }
}
@keyframes osc {
  0%,
  35% {
    --d: -3em;
  }

  65%,
  100% {
    --d: 3em;
  }
}
.shdw::before {
  transform: translatey(3.75em) rotatex(90deg);
  background: radial-gradient(rgba(0, 0, 0, 0.5), transparent);
  filter: blur(9px);
  content: "";
}
.cube {
  --vi: 1;
  --sat: 62%;
  place-self: center;
  width: 2em;
  height: 2em;
  transform: translatez(var(--d));
}
.cube::after {
  --s: 0.5;
  content: "";
}
.half {
  --dir: 0;
  transform: rotatey(calc(var(--dir) * 90deg));
}
.half:nth-child(2) {
  --dir: 1;
}
.half::before,
.half::after {
  --sum: calc(var(--p) + 0.5 * var(--s) + 0.25 * var(--dir) + 1);
  content: "";
}
.gate {
  animation: f calc(0.5 * var(--to)) ease-in-out infinite alternate;
}
.gate::before {
  align-self: center;
  height: 1.5em;
}
@keyframes f {
  0%,
  35% {
    --f: 0.35;
  }

  100% {
    --f: 0.75;
  }
}
.later {
  --lat-w: 6em;
  --sgn-e: calc(2 * var(--e) - 1);
  grid-auto-flow: column;
  justify-content: center;
  place-self: center;
  width: var(--lat-w);
  height: 1.5em;
  transform: translatey(calc(-0.5 * var(--sgn-e) * var(--lat-w))) rotatex(90deg);
}
.later .side,
.later::before,
.later::after {
  --sum: calc(var(--p) + 0.25 + 0.5 * (var(--e) - var(--sgn-e) * var(--s)) + 1);
  grid-area: initial;
  width: inherit;
  transform-origin: calc(var(--not-s) * 100%);
  transform: rotatey(calc(var(--sgn-s) * var(--sgn-e) * 90deg));
}
.outer {
  --e: 1;
  grid-gap: 6em;
}
.outer::before,
.outer::after {
  content: "";
}
.front::before,
.front::after {
  --z: 0.75em;
  --sum: calc(var(--p) + var(--s) * 0.5 + 1);
  border: solid calc(0.5 * (1 - var(--f)) * 6em) currentcolor;
  background: transparent;
  content: "";
}
.inner {
  --e: 0;
  --lat-w: calc(var(--f) * 6em);
}
.side {
  --sum: calc(var(--p) + 0.25 + 0.5 * var(--s) + 1);
}
.anim .side:nth-child(2) {
  overflow: hidden;
}
.anim .side:nth-child(2)::after {
  place-self: center;
  width: 2em;
  height: 2em;
  transform: translatey(var(--d));
  background: radial-gradient(#000, transparent);
  filter: blur(9px);
  content: "";
}
.anim .side::before {
  margin: 3px 0;
  background: linear-gradient(45deg, hotpink 15%, gainsboro, gold 85%);
  animation: glow calc(0.5 * var(--to)) ease-out infinite alternate;
  content: "";
}
@keyframes glow {
  0%,
  35% {
    opacity: 0;
  }

  70%,
  100% {
    --f: 0.75;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
