/* 변수설정 */
:root {
  /* 색상 */
  --white: #ffffff;
  --black: #222222;
  --green: #c1d72e;
  --greenW: #d4dd9c;
  --red: #f96f55;
  --redW: #e1ada1;
  --blue: #89e2da;

  /* 폰트 */
  --en_font: "Josefin Sans";
  --kr_font: "Hahmlet";
}

/* body */
body {
  background: var(--red);
  opacity: 0;
  transition: all 1s;
}
body.show {
  opacity: 1;
}

/* header */
.header {
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .menu {
  margin-right: 50px;
  font-size: 40px;
}
.header .dots {
  display: flex;
  margin-right: 10px;
}
.header .dots .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e1ada1;
  margin-right: 10px;
}
.header .dots .dot.active {
  background: #9c1f00;
}

/* stop-scrolling */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*임시*/
.bottom {
  width: 100%;
  height: 20vw;
  background: #6db722;
  margin-top: 2vw;
}
